<div class="grid footer mt-5">
  <div class="col-12 md:col-8">
    <div class="text-center p-3">
      <h2>¿No encuentras lo que buscas?</h2>

      <h3>¡Escríbenos y pídelo por encargo!</h3>

      <p>
        Te ofrecemos un servicio en el que cotizas con nosotros el producto que
        deseas adquirir, cancelas el 70% del producto para nosotros iniciar la
        orden y en 2 a 3 semanas aproximadamente tendrás tu producto en tus
        manos.
      </p>
    </div>
  </div>
  <div class="col-12 md:col-4">
    <div class="text-center">
      <h2>Redes sociales</h2>
      <i class="pi pi-facebook m-2" style="font-size: 1.5rem"></i>
      <i class="pi pi-instagram m-2" style="font-size: 1.5rem"></i>
      <i class="pi pi-tiktok m-2" style="font-size: 1.5rem"></i>
      <i class="pi pi-whatsapp m-2" style="font-size: 1.5rem"></i>
    </div>
  </div>
  <div class="col-12 text-center copyright">
    © 2025 MíticasTCG. All rights reserved.
    <div class="text-600 mt-2" style="font-size:12px">Versión {{ appVersion }}</div>
  </div>
</div>
